doctype html
head
  style 
    include css/style.css
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  title BCERTIFICATE INDEX
h2 CERTIFIED DIPLOMAS
h5 
  a( href="/api/addcertificate") add new certificate

.table-wrapper
  table.fl-table
    thead
      tr
        th CERTIFICATE ID
        th FULL NAME
        th APOGEE
        th CIN
        th BIRTH DATE
        th BIRTH PLACE
        th TITLE
        th HONOR
        th GRADUATION DATE
        th LINK
    tbody
      each item in list
        tr
          td=item["Key"]
          td=item["Record"]["studentFullName"]
          td=item["Record"]["apogee"]
          td=item["Record"]["cin"]
          td=item["Record"]["birthDate"]
          td=item["Record"]["birthPlace"]
          td=item["Record"]["title"]
          td=item["Record"]["honor"]
          td=item["Record"]["graduationDate"]
          td
            a(href="/api/query/" +item["Key"]) view details
      
