doctype html
head
  style 
    include css/style.css
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  // Custom script function
  script.
    var xhr = new XMLHttpRequest();
    var url = "url?data=" + encodeURIComponent(JSON.stringify(data));
    xhr.open("GET", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
    var data = JSON.parse(xhr.responseText);
    //console.log(json.email + ", " + json.password);
    }
    };
    xhr.send();

    
    

  title BCERTIFICATE INDEX
h2 CERTIFIED DIPLOMAS
h5 
  //a( href="/api/addcertificates/") certify all
  a(href='/api/addcertificates' onclick='onreadystatechange(); return false;') certify all

.table-wrapper
  table.fl-table
    thead
      tr
        th CERTIFICATE ID
        th FULL NAME
        th APOGEE
        th CIN
        th BIRTH DATE
        th BIRTH PLACE
        th TITLE
        th HONOR
        th GRADUATION DATE
    tbody
      each item in data
        tr
          td=item["certificateNumber"]
          td=item["studentFullName"]
          td=item["apogee"]
          td=item["cin"]
          td=item["birthDate"]
          td=item["birthPlace"]
          td=item["title"]
          td=item["honor"]
          td=item["graduationDate"]
      
